<!doctype html>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "David Silva Smith" %></title>

  <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

  <%= partial "includes" %>
</head>


<body class="<%= page_classes %>">
  <div class="container">
      <%= partial "navbar" %>
  <div class-"row">
    <%= partial "twitter" %>
      <div class="col-md-8">
        <%= yield %>
      </div>
  </div>
</div>

 <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
 <script src="/javascripts/bootstrap.min.js"></script>
 <script>
        // $(document).ready(function () {
        //     $('#@ViewBag.Nav').addClass('active');
        // });
        //open external links in a new window
        $(document).ready(function () {
          $("a[href^=http]").each(function () {
            if (this.href.indexOf(location.hostname) == -1) {
              $(this).attr({
                target: "_blank",
                title: "Opens in a new window"
              });
            }
          })
        });
      </script>
      <%= partial "GA" %>
    </body>
    <footer class="text-center">
      © {{date: "%Y"}}
    </footer>
    </html>
